.container {
    margin-top: 20px;
    display: flex;
    width: 100%;
}

.btn {
    all: unset;
    color: var(--placeholder);
    font-size: 14px;
    flex: 1;
    text-align: center;
    position: relative;
    font-weight: 600;
    box-sizing: border-box;
    padding-bottom: 5px;
    border-bottom: 2px solid gray;

    &:hover {
        cursor: pointer;
        color: var(--purple-100);
    }

    &::after {
        content: '';
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 100%;
        border-bottom: 2px solid var(--purple-300);
        transform: scaleX(0);
        transition: transform 250ms ease-in-out;
        transform-origin: 0% 50%;
    }

    &:hover::after {
        transform: scaleX(1);
    }
}

.selected {
    color: var(--purple-100);
    border-bottom: 2px solid var(--purple-300);

    &::after {
        all: unset;
    }
}

.content {
    padding-top: 50px;
    height: calc(100vh - 250px);
}