.InputBox{
    display: flex;
    position: relative;
    flex-direction: column;
    margin-bottom: 45px;
    justify-content: space-between;
    height: 60px;

    span:first-child{
        @include mixin.textLabel();
    }

    input{
        all: unset;
        height: 25px;
        border-bottom: 1px solid var(--border);
        padding-bottom: 2px;
        padding-right: 50px;
        @include mixin.SB();
    }
}

.count{
    position: absolute;
    right: 5px;
    bottom: 10px;
}


.limit{
    color:red;
}