.wrapper {
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 20px;
    @include mixin.textLabel();
}


.btn{
    all:unset;
    display: inline-block;
    min-width: 25px;
    text-align: center;
    padding-inline: 20px;
    margin-right: 8px;
    height: 36px;
    color: var(--text-button);
    background-color: var(--selection);
    border-radius: 20px;
    border: 1px solid var(--border); 
    font-size: 12px;
}
.btn:hover{
    cursor: pointer;
}

.locationContainer{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 12px;
}

.selected{
    background-color: var(--purple-400);
    border-color: var(--purple-100);
}

.imgBtn {
    all: unset;
    display: flex;
    justify-content: center;
}

.locationImg{
    width: 178px;
    height: 178px;
    border-radius: 15px;
}

.imgSelected{
    border: 2px solid var(--purple-400);
}

