.container{
    width: 176px;
    height: 85px;
    background-color: white;
    position: absolute;
    right: 0;
    bottom: 54px;
    border-radius: 10px;
    z-index: 10;
    div{
        display: flex;
        flex-direction: column;
    }
    label{
        all:unset;
        z-index: 100;
        color: #4E4E4E;
        height: 50%;
        padding-inline: 15px;
        font-size: 14px;
        letter-spacing: -0.43px;
        line-height: 3;
    }
    label:last-of-type{
        border-top: solid 1px gray;
    }
    label:hover{
        cursor: pointer;
    }
}

.imgContainer{
    color: white;
    position: absolute;
    bottom: 0;
    left:-20px;
    width: 402px;
    height: 160px;
    border-top: solid 1px var(--text-button);
    background-color: #151515;
    z-index: 100;
    display: flex;
    align-items: center;
    font-size: 16px;
    h2{
        font-size: 14px;
        margin-bottom: 10px;
        text-align: center;
    }
    label {
        all: unset;
        text-align: center;
        padding-inline: 15px;
        font-size: 14px;
        letter-spacing: -0.43px;
        line-height: 3;
        background-color: #646464;
        border-radius: 10px;
        height: 40px;
        width: 230px;
    }
    label:hover{
        cursor: pointer;
    }
    button{
        all: unset;
        text-align: center;
        padding-inline: 15px;
        font-size: 14px;
        letter-spacing: -0.43px;
        line-height: 3;
        background-color: #6922C5;
        border-radius: 10px;
        height: 40px;
        margin-bottom: 8px;
    }
    button:hover{
        cursor: pointer;
    }
    img{
        width: 120px;
        height: 120px;
        border-radius: 10px;
        margin-left: 10px;
    }
}

.wrapper{
    width: auto;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

