.InputContainer{
    textarea{
        all: unset;
        display: block;
        background-color: var(--selection);
        width: 90%;
        border-radius: 15px;
        padding: 12px 13px;
        box-sizing: border-box;
        font-size: 15px;
        scrollbar-width: none;
        overflow-wrap: break-word;
    }
    
    textarea::-webkit-scrollbar{
        display: none;
    }
}

.box{
    display: flex;
    position: relative;
    padding: 8px 0px;
}

.sendBtn{
    all:unset;
    position: absolute;
    bottom: 12px;
    right: 0;
    border-radius: 100%;
    background-color : var(--purple-500);
    width: 32px;
    height: 32px;
    display:flex;
    justify-content: center;
    &:hover{
        cursor: pointer;
    }
}
