.title {
    @include mixin.mainTitle();
}

.container {
    @include mixin.topBottom();
}

.wrapper{
    position: relative;
}

.btn{
    all: unset;
    position: absolute;
    right: 0px;
    bottom: -25px;
    font-size: 14px;
    color: var(--purple-400);

    &:hover {
        cursor: pointer;
    }
}

.send{
    &:hover {
        cursor: default;
    }
}