.title {
    @include mixin.mainTitle();
}

.container {
    @include mixin.topBottom();
}

.wrapper{
    position: relative;
}

.btn{
    all: unset;
    position: absolute;
    right: 0px;
    bottom: -25px;
    font-size: 14px;
    color: var(--purple-400);

    &:hover {
        cursor: pointer;
    }
}

.send{
    &:hover {
        cursor: default;
    }
}

.btnFailMsg{
    text-align: center;
    color: #C94F4F;
    font-size: 12px;
}

.modalWrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loadingText{
    margin-top: 20px;
}