.container{
    position: relative;
}

.inputContainer{
    height: calc(100vh - 200px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title{
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 50px;
}

.box{
    position: relative;
}
.navBtn {
    all: unset;
    width: 370px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 56px;

    text-align: center;
    font-size: 16px;

    background-color: var(--purple-500);
    border-radius: 30px;

    margin-inline: auto;
    color: var(--text-button);
    &:hover {
        cursor: pointer;
        background-color: var(--purple-400);
    }
}

.errorText{
    position: absolute;
    width: 100%;
    color: #FFBC52;
    font-size: 14px;
    text-align: center;
    bottom: 0px;
}
