.content{
    width: calc(100% - 32px);
    margin: auto;
}

.header{
    height: 54px;
    display: flex;
    align-items: center;
}

.title{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 4px;
    img{
        width: 120px;
        height: 40px;
    }
    
}