.title {
    @include mixin.mainTitle();
}

.container {
    @include mixin.topBottom();
}

.ment{
    font-size: 12px;
    color: var(--text-sub-heading);
    text-align: center;
    margin-top: 4px;
}