@mixin talkBox($color) {
    padding-inline: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 18px;
    background-color: $color;
    font-size: 14px;
    color: var(--text-button);
    line-height: 140%;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.container{
    height: calc(100vh - 54px - 80px);
    overflow: auto;
    padding-inline: 5px;
}

.container::-webkit-scrollbar {
    width: 1px;
}


.container::-webkit-scrollbar-thumb {
    background: #888;
    /* 스크롤바 색상 */
    border-radius: 10px;
    /* 둥글게 */
}
.anothername{
    align-self: flex-start;
    margin-bottom: 6px;
    margin-left: 5px;
    font-size:12px;
}
.another{
    p{
        @include talkBox(#2B2B2B);
    }
    
    align-self: flex-start;
    max-width: 80%;
}

.mename{
    align-self: flex-end;
    margin-bottom: 6px;
    margin-right: 5px;
    font-size: 12px;
}
.me{
    max-width: 80%;
    p{
        @include talkBox(var(--purple-500));
    }
    align-self: flex-end;
    position : relative;
}

.system{
    text-align: center;
    font-size: 12px;
    color: var(--purple-400);
    background-color: none;
    margin: 18px 0;
}

.meImg{
    align-self: flex-end;
    max-width: 220px;
    max-height: 250px;
    background-color: white;
    border-radius: 5px;
}

.anotherImg{
    align-self: flex-start;
    max-width: 220px;
    max-height: 250px;
    background-color: white;
    border-radius: 5px;
}

.messageBox{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

#toast-root{
    position: absolute;
    bottom: 0px; 
    left: 0px;
    z-index: 9999;
}

.content{
    position: relative;
}
