
.imgContainer {
    position: relative;
    width: 370px;
    height: 320px;
    overflow: hidden;
}

.imgBox {
    display: flex;
    transition: transform 0.3s ease-out;
    position: relative;
}

.imgBox img {
    width: 370px;
    height: 320px;
}