@use "./variables";

@mixin mainTitle(){
    font-size: 20px;
    color: var(--text-heading);
    text-align: center;
    margin-bottom: 60px;
    margin-top: 30px;
    font-weight: 700;
}

@mixin textLabel(){
    font-size: 14px;
    color: var(--text-sub-heading)
}

@mixin SB(){
    font-size: 18px;
    font-weight: 500;
}

@mixin topBottom(){
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 130px);
}
